.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      margin: 20px;
      padding-bottom: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}


@media screen and (max-width:839px) {
  .charts{
    display: flex;
    flex-direction: column;
  }
  .scroll-container {
    overflow-x: scroll;
  }
  .scroll-container::-webkit-scrollbar {
    height: 8px; 
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #3498db; 
    border-radius: 10px;
    cursor: pointer;
  
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #dcdcdc; 
  }
  
}
